.home-page {
  .text-zone {
    position: absolute;
    left: 15%;
    top: 50%;
    transform: translateY(-50%);
    width: 40%;
    max-height: 90%;
  }
  h1 {
    font-size: 56px;
    margin: 0;
    // font-family: Arial, Helvetica, sans-serif;

    img {
      width: 42px;
      margin-left: 20px;
      opacity: 0;
      height: auto;
      animation: rotateIn 1s ease-in-out both;
      animation-delay: 1.4s;
    }
  }

  h2 {
    margin-top: 24px;
    font-size: 20px;
    font-weight: 400;
  }
}
